---
---

<html>
	<head>
		<meta charset="utf-8" />
		<title>Typograf intergration test</title>
	</head>
	<body>
    <p lang="en">Text in English in which the typography must be fixed.</p>
    <p lang="ru">Текст на русском, в котором надо починить типографику.</p>
	</body>
</html>
